.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.highlight{
    color:brown;
    font-weight: 600;
}
.request_view{
    width: 50%;
}
.request_view h3{
    margin-bottom: 15px;
    margin-top: 0;
}
.request_heading{
    background: #f8f8f8;
    padding: 10px 10px;
    color: black;
}
input[type="file"]{
    height: auto;;
}
.panel-footer a{
    text-decoration: none;
}
.panel-footer a:hover{
    text-decoration: none;
}
.well{
    padding-right: 15px;
    padding-left: 15px;
}
.well .card_header{
    padding:0;
}